# Ignore large library folders
node_modules/
__pycache__/
venv/
env/

# Ignore private keys and secrets (CRITICAL)
.env
serviceAccount.json
plagpro-chatbot/backend/serviceAccount.json
plagpro-chatbot/.env

# Ignore OS temporary files
.DS_Store
Thumbs.db
~$*.docx
~$*.pptx
*.tmp